.featured-projects {
  .project {
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 0;
    }

    &__name {
      margin-bottom: 0px;
      a {
        font-weight: 700;
      }
    }
    

    &__used {
      margin-bottom: 10px;

      &__item {
        display: inline-block;
        margin: 3px 3px 3px 0;
        font-family: 'Inconsolata', monospace;
        font-size: 0.75rem;
        font-weight: 700;
        padding: 2px 7px;
        border-radius: 3px;
        color: $blue;
        border: 1px solid $blue;
        background: transparent;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }

    &__heading {
      &__subtitle {
        &:before {
          content: ' // ';
        }
      }

      &__name {
        color: $off-white;
      }
    }

    &__cover {
      img {
        max-width: 100%;
        margin-top: 15px;
      }
    }

    &__details {
      &__title {
        margin-bottom: 5px;

        &:before {
          content: 'def ';
          color: $blue;
        }

        &:after {
          content: ':';
        }
      }

      &__content {
        margin-top: 0px;
      }
    }
  }
}
