<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I have graduated from University of Southampton with a Master of Engineering in Computer Science with Distributed Networks and Systems, with Upper Second Class Honours. 
    </p>

    <p>
        My studies and personal projects have been focused on desktop and web applciations, however I also have experience with game development, cyber security, blockchain and more. I am an avid Linux user, and I have it running on all my machines. I have a couple of Linux servers which I maintain, one of which is self hosted. 
    </p>

    <p>
        When I am not programming, I may be gaming, reading or playing board games. I am currently into Rocket League, Euro Truck Simulator and listening to Halsey.
    </p>
    {% include employment-status.html %}
  </div>
</section>
