<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    {% for project in site.data.featured %}
    <div class="project portfolio">
      <h3 class="project__heading">
        <span class="project__heading__name">{{project.name}}</span>
        {% if project.subtitle %}
        <small class="project__heading__subtitle">{{project.subtitle}}</small>
        {% endif %}
      </h3>

      <div class="project__used">
          {% for item in project.used %}
          <span class="project__used__item">{{item.thing}}</span>
          {% endfor %}
      </div>

      {% if project.image %}
      <div class="project__cover">
        <img src="{{project.image}}" />
      </div>
      {% endif %}

      <div class="project__details">
        {% for section in project.details %}
        <section>
          <h4 class="project__details__title">{{section.title}}</h4>
          <p class="project__details__description">{{section.content}}</p>
        </section>
        {% endfor %}
      </div>

      
    </div>
    {% endfor %}
  </div>
</section>
